openapi: 3.0.3

info:
  version: 1.0.0
  title: ISA Returns Test Support API
  description: |
    # Overview
    Use this API to simulate a callback from HMRC indicating that reconciliation results are available 
    to retrieve through the ISA Returns API.

    # Integration requirements
    - REST API using JSON over HTTPS.
    - Authentication uses the OAuth 2.0 client credentials grant.
    - All API calls require a unique identifier (Z-Reference) assigned by HMRC to each approved ISA manager.

    # Support
    If you need help, complete the [support form](https://developer.service.hmrc.gov.uk/developer/support). 
    HMRC's Software Developers Support Team will reply within two working days. 

servers:
  - url: https://test-api.service.hmrc.gov.uk/test/obligations/declaration/isa/return
    description: Sandbox
  - url: https://api.service.hmrc.gov.uk/test/obligations/declaration/isa/return
    description: Production

tags:
  - name: Trigger monthly reconciliation report
    description: |
      Simulate a sandbox callback from HMRC indicating that reconciliation results are available to retrieve through the ISA Returns API.

#      Open Question - since we can reasonably assume they might want to be more specific, what does that endpoint look like?

paths:
  /monthly/{zReference}/{taxYear}/{month}/reconciliation:
    post:
      summary: Simulate reconciliation callback
      description: |
        Use this endpoint to simulate a callback from HMRC indicating that reconciliation results are available to retrieve through the ISA Returns API.
        
        You can specify how many test errors to include in each category: oversubscriptions, trace and match failures, and eligibility failures. 
        
        The results will be returned to your software using the same callback mechanism used in the ISA Returns API.
      operationId: simulateReconciliationCallback
      tags:
        - Trigger monthly reconciliation report
      security:
        - userRestricted:
            - write:isa-returns
      parameters:
        - name: zReference
          in: path
          description: |
            A unique identifier assigned by HMRC to each approved ISA manager. Format: 'Zxxxx'.
          required: true
          style: simple
          explode: false
          schema:
            pattern: ^[z|Z][0-9]{4}$
            type: string
            example: Z1234
        - name: taxYear
          in: path
          description: |
            Tax year of the report.
          required: true
          style: simple
          explode: false
          schema:
            pattern: ^20\d{2}-\d{2}$
            format: string
            example: 2025-26
        - name: month
          in: path
          description: |
            Month of the report.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: APR
            enum:
              - JAN
              - FEB
              - MAR
              - APR
              - MAY
              - JUN
              - JUL
              - AUG
              - SEP
              - OCT
              - NOV
              - DEC
        - $ref: '#/components/parameters/acceptHeader'
        - $ref: '#/components/parameters/authorizationHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/reportDescriptionSimple'
      responses:
        204:
          description: Submission accepted. No content returned.
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/badSubmissionGeneral'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    title: Error Code Type
                    type: string
                    description: Error Code
                    enum:
                      - UNAUTHORIZED
                  message:
                    type: string
                    example: Unauthorized
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    title: Error Code Type
                    type: string
                    description: Error Code
                    enum:
                      - INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    example: "There has been an issue processing your request"
components:
  securitySchemes:
    userRestricted:
      type: oauth2
      description: |
        HMRC uses OAuth 2.0 Bearer tokens for authentication. Include the token in the AUTHORIZATION header of user-restricted API requests.
        See https://developer.service.hmrc.gov.uk/api-documentation/docs/authorisation/user-restricted-endpoints for details.
      flows:
        authorizationCode:
          authorizationUrl: https://api.service.hmrc.gov.uk/oauth/authorize
          tokenUrl: https://api.service.hmrc.gov.uk/oauth/token
          refreshUrl: https://api.service.hmrc.gov.uk/oauth/refresh
          scopes: {
            "write:isa-returns": "submit data to the api",
          }
  parameters:
    acceptHeader:
      name: Accept
      in: header
      required: true
      schema:
        type: string
        enum: [
          "application/vnd.hmrc.1.0+json"
        ]
    authorizationHeader:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
      description: Bearer token for authentication.
  schemas:
    reportDescriptionSimple:
      title: Report Description (Simple)
      type: object
      required: [oversubscribed, traceAndMatch, failedEligibility]
      properties:
        oversubscribed:
          type: number
          description: Number of simulated oversubscription errors to include in the callback.
          pattern: $\d^
        traceAndMatch:
          type: number
          description: Number of simulated trace and match errors to include in the callback.
          pattern: $\d^
        failedEligibility:
          type: number
          description: Number of simulated eligibility errors to include in the callback.
          pattern: $\d^
    badSubmissionGeneral:
      title: Bad Request (General Issue)
      type: object
      properties:
        code:
          title: Validation Failure Code
          type: string
          description: Code indicating the type of error.
          enum:
            - INVALID_YEAR
            - INVALID_MONTH
            - INVALID_Z_REFERENCE
            - MALFORMED_JSON
            - EMPTY_PAYLOAD
        message:
          title: Detailed Message
          type: string
          description: Message describing the details of the validation error.


